<div class="container">
<div class="card-panel blue lighten-5"><div class="center-align"><h2>FIBO 2 ST FLOOR</h2></div></div>


<div class="parallax-container">
    <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="1280" src="http://mpics.manager.co.th/pics/Images/559000001242508.JPEG">
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">คำอธิบาย</h2>
        <p class="grey-text text-darken-3 lighten-3">สำหรับชั้น 2 ไม่มีการปิดให้จองห้องเเต่อย่างได้ เพราะเป็นชั้นที่มีห้องงานวิจัย ห้องธุระการ รวมถึงเป็นพื้นที่ไว้สำหรับเก็บเเละโชว์ผลงานในด้านต่างๆของสถาบัน .</p>
    </div>
</div>




<button class="btn waves-effect waves-light" type="submit" name="action" routerLink="/floorseach" routerLinkActive="active">Back
</button>
</div>
<br>