
<div class="container">
    <div class="card-panel blue lighten-5"><p class="center-align">FIBO 1 ST FLOOR</p></div>



<div class="parallax-container">
    <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="1170" src="http://static.wixstatic.com/media/9821cb_db113eaa152147b28586d357736bb4e6.jpg_srz_693_462_85_22_0.50_1.20_0.00_jpg_srz">
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">คำอธิบาย</h2>
        <p class="grey-text text-darken-3 lighten-3">สำหรับชั้น 1 จะไม่มีการจองห้อง เพราะเป็นชั้นไว้สำหรับรับเเขกที่จะมาเยี่ยมชม หรือมาติดต่องาน ก็สามารถมาได้ในชั้นนี้   .</p>
    </div>
</div>



    <button class="btn waves-effect waves-light" type="submit" name="action" routerLink="/floorseach" routerLinkActive="active">Back
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action" routerLink="/book" routerLinkActive="active">Book
    </button>
</div>
<br>